<div class="row">
	<div class="col">
		<h2>Welcome <%= @user.username %></h2>
	</div>
</div>

<h4>Your Upcoming Events</h4>
<div class="row">
		<%= render @upcoming_events %>
</div>

<h4>Previous Events You Attended</h4>
<div class="row">
		<%= render @past_events %>
</div>





