	<div class="row py-4">
   <div class="col-12">
   	<h1 class="px-3">All Events</h1>	    
   </div>	
	</div>


	<div class="row py-5">
		<div class="col-3">
		  <%= will_paginate @events %>
	   	<%= render @events %>
	   	<%= will_paginate @events %>
		</div>
	</div>