<div class="row">
	<div class="col">
	<p class="d-block h2"><%=@event.creator.username.capitalize %></p>
	<p class="d-block h2"><%=@event.name %></p>
	<p class="d-block"><%=@event.venue %></p>
	<p class="d-block"><%=@event.description %></p>
</div>
</div>