<div class="row">
	<div class="col">
	<p class="d-block h2"><%=@event.title %></p>
	<p class="d-block"><%=@event.location %></p>
	<p class="d-block"> <img src="<%=@event.eventpic %>" class="img-fluid"/></p>
</div>
</div>